Django>=5.0,<5.3
djangorestframework>=3.15,<3.16
django-filter>=24.2,<25
drf-spectacular>=0.27,<0.28
psycopg2-binary>=2.9,<3
django-redis>=5.4,<6
whitenoise>=6.7,<7
celery>=5.4,<6
redis>=5.0,<6
Faker>=25.0,<26
python-dotenv>=1.0,<2
gunicorn>=22.0,<23
pytest>=8.0,<9
pytest-django>=4.8,<5
